In [2]:
import numpy as np 
import pandas as pd

In [3]:
books = pd.read_csv("data/Preprocessed_data.csv",sep=",",encoding='utf-8')
users = pd.read_csv('data/BX-Users.csv',sep=';',encoding='latin-1')
ratings = pd.read_csv('data/BX-Book-Ratings.csv',sep=';',encoding='latin-1')
books.rename(columns={"isbn":"ISBN"},inplace=True)
# books.rename(columns={"rating":"Book-Rating"},inplace=True)

In [4]:
books['img_l'][1]

'http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg'

In [5]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [6]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [7]:
print(books.shape)
print(ratings.shape)
print(users.shape)

(1031175, 18)
(1149780, 3)
(278858, 3)

In [8]:
books.isnull().sum()

user_id                    0
location                   0
age                        0
ISBN                       0
rating                     0
book_title                 0
book_author                1
year_of_publication        0
publisher                  0
img_s                      0
img_m                      0
img_l                      0
Summary                    0
Language                   0
Category                   0
city                   14103
state                  22798
country                35374
dtype: int64

In [9]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [10]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

## Popularity Based Recommender System

In [11]:
ratings_with_name = ratings.merge(books, on="ISBN")

In [13]:
ratings_with_name.head(5)

,User-ID,ISBN,Book-Rating,user_id,location,age,rating,book_title,book_author,year_of_publication,publisher,img_s,img_m,img_l,Summary,Language,Category,city,state,country
0,276725,034545104X,0,2313,"cincinnati, ohio, usa",23.0000,5,Flesh Tones: A Novel,M. J. Rose,2002.0,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,Twenty years after having an affair with legen...,en,['Fiction'],cincinnati,ohio,usa
1,276725,034545104X,0,6543,"strafford, missouri, usa",34.0000,0,Flesh Tones: A Novel,M. J. Rose,2002.0,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,Twenty years after having an affair with legen...,en,['Fiction'],strafford,missouri,usa
2,276725,034545104X,0,8680,"st. charles county, missouri, usa",34.7439,5,Flesh Tones: A Novel,M. J. Rose,2002.0,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,Twenty years after having an affair with legen...,en,['Fiction'],st. charles county,missouri,usa
3,276725,034545104X,0,10314,"beaverton, oregon, usa",34.7439,9,Flesh Tones: A Novel,M. J. Rose,2002.0,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,Twenty years after having an affair with legen...,en,['Fiction'],beaverton,oregon,usa
4,276725,034545104X,0,23768,"st. louis, missouri, usa",45.0000,0,Flesh Tones: A Novel,M. J. Rose,2002.0,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,Twenty years after having an affair with legen...,en,['Fiction'],st. louis,missouri,usa

In [14]:
num_rating_df = ratings_with_name.groupby('book_title').count()['Book-Rating'].reset_index()
num_rating_df.rename(columns={'Book-Rating' : 'num_ratings'},inplace=True)

In [15]:
num_rating_df

                                               book_title  num_ratings
0        A Light in the Storm: The Civil War Diary of ...           16
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241085                                      Ã?Â?lpiraten.            4
241086                     Ã?Â?rger mit Produkt X. Roman.           16
241087                                Ã?Â?sterlich leben.            1
241088                              Ã?Â?stlich der Berge.            9
241089                                  Ã?Â?thique en toc            4

[241090 rows x 2 columns]

In [17]:
##avg_rating_df = ratings_with_name.groupby('book_title').mean()['num_ratings'].reset_index()
ratings_with_name.head(5)

,User-ID,ISBN,Book-Rating,user_id,location,age,rating,book_title,book_author,year_of_publication,publisher,img_s,img_m,img_l,Summary,Language,Category,city,state,country
0,276725,034545104X,0,2313,"cincinnati, ohio, usa",23.0000,5,Flesh Tones: A Novel,M. J. Rose,2002.0,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,Twenty years after having an affair with legen...,en,['Fiction'],cincinnati,ohio,usa
1,276725,034545104X,0,6543,"strafford, missouri, usa",34.0000,0,Flesh Tones: A Novel,M. J. Rose,2002.0,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,Twenty years after having an affair with legen...,en,['Fiction'],strafford,missouri,usa
2,276725,034545104X,0,8680,"st. charles county, missouri, usa",34.7439,5,Flesh Tones: A Novel,M. J. Rose,2002.0,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,Twenty years after having an affair with legen...,en,['Fiction'],st. charles county,missouri,usa
3,276725,034545104X,0,10314,"beaverton, oregon, usa",34.7439,9,Flesh Tones: A Novel,M. J. Rose,2002.0,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,Twenty years after having an affair with legen...,en,['Fiction'],beaverton,oregon,usa
4,276725,034545104X,0,23768,"st. louis, missouri, usa",45.0000,0,Flesh Tones: A Novel,M. J. Rose,2002.0,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,Twenty years after having an affair with legen...,en,['Fiction'],st. louis,missouri,usa

In [18]:
# avg_rating_df = ratings_with_name.groupby('book_title').mean()['Book-Rating'].reset_index()
# avg_rating_df.rename(columns={'Book-Rating':'avg_rating'},inplace=True)
# avg_rating_df
avg_rating_df = ratings_with_name.groupby('book_title')['Book-Rating'].mean().reset_index()
# Rename the 'Book-Rating' column to 'avg_rating'
avg_rating_df.rename(columns={'Book-Rating': 'avg_rating'}, inplace=True)

In [19]:
avg_rating_df

                                               book_title  avg_rating
0        A Light in the Storm: The Civil War Diary of ...    2.250000
1                                   Always Have Popsicles    0.000000
2                    Apple Magic (The Collector's series)    0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...    8.000000
4        Beyond IBM: Leadership Marketing and Finance ...    0.000000
...                                                   ...         ...
241085                                      Ã?Â?lpiraten.    0.000000
241086                     Ã?Â?rger mit Produkt X. Roman.    5.250000
241087                                Ã?Â?sterlich leben.    7.000000
241088                              Ã?Â?stlich der Berge.    2.666667
241089                                  Ã?Â?thique en toc    4.000000

[241090 rows x 2 columns]

In [20]:
popular_df = num_rating_df.merge(avg_rating_df,on="book_title")
popular_df

,book_title,num_ratings,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,16,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241085,Ã?Â?lpiraten.,4,0.000000
241086,Ã?Â?rger mit Produkt X. Roman.,16,5.250000
241087,Ã?Â?sterlich leben.,1,7.000000
241088,Ã?Â?stlich der Berge.,9,2.666667
241089,Ã?Â?thique en toc,4,4.000000

In [21]:
popular_df = popular_df[popular_df['num_ratings']>=250].sort_values('avg_rating',ascending=False).head(50)
popular_df

,book_title,num_ratings,avg_rating
70398,Free,2918,7.964016
217129,There's Treasure Everywhere--A Calvin and Hobb...,289,7.882353
58543,El Hobbit,538,7.509294
80460,Harry Potter y el cÃ¡liz de fuego,320,7.250000
233411,Where the Sidewalk Ends : Poems and Drawings,1089,7.121212
4348,A Kiss for Little Bear,400,7.100000
19438,Bad Business,400,7.000000
64209,Falling Up,1445,6.916263
69995,Fox in Socks (I Can Read It All by Myself Begi...,386,6.834197
121696,Mittsommermord. Roman.,289,6.823529
191619,The Hobbit (Leatherette Collector's Edition),576,6.791667
96826,Johnny Got His Gun,1026,6.744639
94583,It's A Magical World: A Calvin and Hobbes Coll...,784,6.642857
25598,Bloom County Babylon : Five Years of Basic Nau...,324,6.611111
112163,Love You Forever,1400,6.585714
58860,El Senor De Los Anillos: LA Comunidad Del Anil...,256,6.562500
100840,L'Ecume Des Jours,256,6.562500
119662,Metaphysique Des Tubes,324,6.500000
143216,"Preludes and Nocturnes (Sandman, Book 1)",733,6.470668
44176,Dark Magic,291,6.453608
148643,Relato de un nÃ¡ufrago,333,6.414414
11304,All Over but the Shoutin',290,6.413793
102584,La caverna = A caverna,289,6.352941
178365,The Blue Castle,289,6.352941
135476,Oscar et la dame rose,361,6.263158
191838,The Horse and His Boy,1370,6.211679
208586,The Stand (The Complete and Uncut Edition),3249,6.175439
55854,Dry : A Memoir,324,6.166667
84480,Holes (Newbery Medal Book),576,6.166667
65602,Feet of Clay (Discworld Novels (Paperback)),729,6.148148
80457,Harry Potter und der Stein der Weisen,441,6.142857
218890,Tiger Burning Bright,250,6.140000
155263,Schachnovelle,529,6.130435
160930,Sin Noticias De Gurb (Biblioteca breve),256,6.125000
192675,The Indispensable Calvin And Hobbes,676,6.115385
117872,Maus 1. Mein Vater kotzt Geschichte aus. Die G...,256,6.062500
77814,Griffin & Sabine: An Extraordinary Correspondence,5184,6.041667
150867,Robert Frost's Poems,293,6.027304
104845,Le Petit Prince,446,6.022422
207654,The Sinner,794,6.017632
135809,Our Town: A Play in Three Acts,256,6.000000
129576,Night Of Crash-Test Dummies,625,6.000000
74372,Gianna: Aborted... and Lived to Tell About It ...,361,6.000000
130041,Nine Princes In Amber,529,5.956522
189592,The Golden Mean: In Which the Extraordinary Co...,1296,5.944444
112925,"Luck in the Shadows (Nightrunner, Vol. 1)",324,5.944444
196059,The Lord of the Rings,302,5.940397
155654,Scientific Progress Goes 'Boink': A Calvin an...,1369,5.918919
211528,The Ultimate Hitchhiker's Guide to the Galaxy,576,5.916667
80444,Harry Potter and the Sorcerer's Stone (Book 1),39060,5.900154

In [22]:
popular_df = popular_df.merge(books,on='book_title').drop_duplicates('book_title')[['book_title','book_author','img_m','num_ratings','avg_rating']]

In [23]:
popular_df['img_m'][0]

'http://images.amazon.com/images/P/1844262553.01.MZZZZZZZ.jpg'

## Collaborative Filtering Based Recommender System

In [24]:
x = ratings_with_name.groupby('User-ID').count()['Book-Rating'] > 200 
padhe_likhe_users = x[x].index

In [25]:
print(padhe_likhe_users)

Index([     9,     14,     16,     17,     26,     39,     44,     51,     67,
           75,
       ...
       278773, 278774, 278798, 278800, 278813, 278832, 278843, 278844, 278851,
       278854],
      dtype='int64', name='User-ID', length=26993)

In [26]:
filtered_rating = ratings_with_name[ratings_with_name['User-ID'].isin(padhe_likhe_users)]
y = filtered_rating.groupby('book_title').count()['Book-Rating']>=50
famous_books = y[y].index
final_ratings = filtered_rating[filtered_rating['book_title'].isin(famous_books)]
pt = final_ratings.pivot_table(index='book_title',columns='User-ID',values='Book-Rating')
pt.fillna(0,inplace=True)

In [27]:
pt

User-ID,9,14,16,17,26,39,44,51,67,75,...,278773,278774,278798,278800,278813,278832,278843,278844,278851,278854
book_title,,,,,,,,,,,,,,,,,,,,,
"Earth Prayers From around the World: 365 Prayers, Poems, and Invocations for Honoring the Earth",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Good Wives: Image and Reality in the Lives of Women in Northern New England, 1650-1750",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Goosebumps Monster Edition 1: Welcome to Dead House, Stay Out of the Basement, and Say Cheese and Die!",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Murder of a Sleeping Beauty (Scumble River Mysteries (Paperback)),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Q-Space (Star Trek The Next Generation, Book 47)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
one hundred years of solitude,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
operation : mistletoe (the special agents),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
stardust,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
together by christmas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
why I'm like this : True Stories,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
from sklearn.metrics.pairwise import cosine_similarity 
similarity_score  = cosine_similarity(pt)

In [29]:
similarity_score.shape

(20109, 20109)

In [44]:
def recomment(book_name) : 
    #index fetch 
    index = np.where(pt.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_score[index])),key = lambda x:x[1],reverse=True)[1:5]

    data = []
    for i in similar_items : 
        item = [] 
        temp_df = books[books['book_title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('book_title')['book_title'].values))
        item.extend(list(temp_df.drop_duplicates('book_title')['book_author'].values))
        item.extend(list(temp_df.drop_duplicates('book_title')['img_m'].values))
        data.append(item)
    return data

In [45]:
recomment('1984')

[['Animal Farm',
  'George Orwell',
  'http://images.amazon.com/images/P/0451526341.01.MZZZZZZZ.jpg'],
 ['Brave New World',
  'Aldous Huxley',
  'http://images.amazon.com/images/P/0060809833.01.MZZZZZZZ.jpg'],
 ['The Cigarette Girl: A Novel',
  'Carol Wolper',
  'http://images.amazon.com/images/P/1573221376.01.MZZZZZZZ.jpg'],
 ['We',
  'Yevgeny Zamyatin',
  'http://images.amazon.com/images/P/0380633132.01.MZZZZZZZ.jpg']]

In [46]:
pt.index[545]

'A Shadow on the Glass (The View from the Mirror, Book 1)'

In [47]:
import pickle 
pickle.dump(popular_df,open('popular.pkl','wb'))

In [48]:
books.drop_duplicates('book_title')

,user_id,location,age,ISBN,rating,book_title,book_author,year_of_publication,publisher,img_s,img_m,img_l,Summary,Language,Category,city,state,country
0,2,"stockton, california, usa",18.0000,0195153448,0,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,Provides an introduction to classical myths pl...,en,['Social Science'],stockton,california,usa
1,8,"timmins, ontario, canada",34.7439,0002005018,5,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,"In a small town in Canada, Clara Callan reluct...",en,['Actresses'],timmins,ontario,canada
15,8,"timmins, ontario, canada",34.7439,0060973129,0,Decision in Normandy,Carlo D'Este,1991.0,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,"Here, for the first time in paperback, is an o...",en,['1940-1949'],timmins,ontario,canada
18,8,"timmins, ontario, canada",34.7439,0374157065,0,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,"Describes the great flu epidemic of 1918, an o...",en,['Medical'],timmins,ontario,canada
29,8,"timmins, ontario, canada",34.7439,0393045218,0,The Mummies of Urumchi,E. J. W. Barber,1999.0,W. W. Norton & Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,A look at the incredibly well-preserved ancien...,en,['Design'],timmins,ontario,canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031170,278851,"dallas, texas, usa",33.0000,0743203763,0,As Hogan Said . . . : The 389 Best Things Anyo...,Randy Voorhees,2000.0,Simon & Schuster,http://images.amazon.com/images/P/0743203763.0...,http://images.amazon.com/images/P/0743203763.0...,http://images.amazon.com/images/P/0743203763.0...,Golf lovers will revel in this collection of t...,en,['Humor'],dallas,texas,usa
1031171,278851,"dallas, texas, usa",33.0000,0767907566,5,All Elevations Unknown: An Adventure in the He...,Sam Lightner,2001.0,Broadway Books,http://images.amazon.com/images/P/0767907566.0...,http://images.amazon.com/images/P/0767907566.0...,http://images.amazon.com/images/P/0767907566.0...,A daring twist on the travel-adventure genre t...,en,['Nature'],dallas,texas,usa
1031172,278851,"dallas, texas, usa",33.0000,0884159221,7,Why stop?: A guide to Texas historical roadsid...,Claude Dooley,1985.0,Lone Star Books,http://images.amazon.com/images/P/0884159221.0...,http://images.amazon.com/images/P/0884159221.0...,http://images.amazon.com/images/P/0884159221.0...,9,9,9,dallas,texas,usa
1031173,278851,"dallas, texas, usa",33.0000,0912333022,7,The Are You Being Served? Stories: 'Camping In...,Jeremy Lloyd,1997.0,Kqed Books,http://images.amazon.com/images/P/0912333022.0...,http://images.amazon.com/images/P/0912333022.0...,http://images.amazon.com/images/P/0912333022.0...,These hilarious stories by the creator of publ...,en,['Fiction'],dallas,texas,usa
1031174,278851,"dallas, texas, usa",33.0000,1569661057,10,"Dallas Street Map Guide and Directory, 2000 Ed...",Mapsco,1999.0,American Map Corporation,http://images.amazon.com/images/P/1569661057.0...,http://images.amazon.com/images/P/1569661057.0...,http://images.amazon.com/images/P/1569661057.0...,9,9,9,dallas,texas,usa

In [49]:
pickle.dump(pt,open('pt.pkl','wb'))
pickle.dump(books,open('books.pkl','wb'))
pickle.dump(similarity_score,open('similarity_scores.pkl','wb'))