In [3]:
import numpy as np 
import pandas as pd

In [18]:
books = pd.read_csv("data/Preprocessed_data.csv",sep=",",encoding='utf-8')

In [22]:
# print(books.head())
books.columns
books = books[['isbn','book_title','book_author','year_of_publication','publisher']]
print(books.head(2))

         isbn           book_title           book_author  year_of_publication  \
0  0195153448  Classical Mythology    Mark P. O. Morford               2002.0
1  0002005018         Clara Callan  Richard Bruce Wright               2001.0

                 publisher
0  Oxford University Press
1    HarperFlamingo Canada

In [25]:
users = pd.read_csv('data/BX-Users.csv',sep=';',encoding='latin-1')

In [26]:
users.head(5)

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN