In [25]:
import csv 
import numpy as np 
from numpy import loadtxt

In [59]:
path = r"Position_Salaries.csv"
with open(path,'r') as f : 
    reader = csv.reader(f,delimiter=',')
    headers = next(reader)
    data = list(reader)
    data = np.array(data)
    print(data.shape)
    print(headers)
    print(data)

(10, 3)
['Position', 'Level', 'Salary']
[['Business Analyst' '1' '45000']
 ['Junior Consultant' '2' '50000']
 ['Senior Consultant' '3' '60000']
 ['Manager' '4' '80000']
 ['Country Manager' '5' '110000']
 ['Region Manager' '6' '150000']
 ['Partner' '7' '200000']
 ['Senior Partner' '8' '300000']
 ['C-level' '9' '500000']
 ['CEO' '10' '1000000']]

In [72]:
from pandas import read_csv 
path = r"Position_Salaries.csv"
data = read_csv(path)
print(data.shape)
# print(data)
first_column_data = data.iloc[:, 2]
# print(first_column_data)
# print(data.dtypes)
# print(data.describe())
count_salary = data.groupby('Salary').size()
# print(count_salary)
print(data.values)

(10, 3)
[['Business Analyst' 1 45000]
 ['Junior Consultant' 2 50000]
 ['Senior Consultant' 3 60000]
 ['Manager' 4 80000]
 ['Country Manager' 5 110000]
 ['Region Manager' 6 150000]
 ['Partner' 7 200000]
 ['Senior Partner' 8 300000]
 ['C-level' 9 500000]
 ['CEO' 10 1000000]]

In [51]:
from pandas import read_csv 
path = r"Position_Salaries.csv"

In [73]:
headernames = ['preg','plas','pres','skin','test','mass','pedi','age','class']
data = read_csv(path,names=headernames)
print(data.shape)
print(data)

(11, 9)
                 preg   plas     pres  skin  test  mass  pedi  age  class
0            Position  Level   Salary   NaN   NaN   NaN   NaN  NaN    NaN
1    Business Analyst      1    45000   NaN   NaN   NaN   NaN  NaN    NaN
2   Junior Consultant      2    50000   NaN   NaN   NaN   NaN  NaN    NaN
3   Senior Consultant      3    60000   NaN   NaN   NaN   NaN  NaN    NaN
4             Manager      4    80000   NaN   NaN   NaN   NaN  NaN    NaN
5     Country Manager      5   110000   NaN   NaN   NaN   NaN  NaN    NaN
6      Region Manager      6   150000   NaN   NaN   NaN   NaN  NaN    NaN
7             Partner      7   200000   NaN   NaN   NaN   NaN  NaN    NaN
8      Senior Partner      8   300000   NaN   NaN   NaN   NaN  NaN    NaN
9             C-level      9   500000   NaN   NaN   NaN   NaN  NaN    NaN
10                CEO     10  1000000   NaN   NaN   NaN   NaN  NaN    NaN

In [83]:
from pandas import read_csv 
from numpy import set_printoptions 
from sklearn.preprocessing import MinMaxScaler  

path = r"Salaries.csv"

In [84]:
data = read_csv(path)
array = data.values

In [85]:
data_scaler = MinMaxScaler(feature_range=(0,1))
data_rescaled = data_scaler.fit_transform(data)

In [88]:
set_printoptions(precision=1)
print("\n Scaled Data: \n " , data_rescaled)

 Scaled Data:
  [[0. ]
 [0. ]
 [0. ]
 [0. ]
 [0.1]
 [0.1]
 [0.2]
 [0.3]
 [0.5]
 [1. ]]